<!DOCTYPE html>
<html>
  <head>
    <title>ChairsBnB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag image_url('chairsbnb_logo.jpg') %>

    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+Rails.application.credentials.google[:api_key] %>
    <script src='https://kit.fontawesome.com/cac26a4ea7.js' crossorigin='anonymous'></script>
   
    <script type='text/javascript'>
      window.github = "<%= image_url('github.png') %>";
      window.linkedin = "<%= image_url('linkedin.png') %>";
      window.angellist = "<%= image_url('angellist.png') %>";
      window.listings_index_ph = "<%= image_url('listings_index_ph.jpg') %>";
      window.rating_star = "<%= image_url('rating_star.png') %>";
      window.show_star = "<%= image_url('show_star.png') %>";
      window.profile_ph = "<%= image_url('profile_ph.png') %>";
      window.chair_rules = "<%= image_url('chair_rules.png') %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
