<!DOCTYPE html>
<html>
  <head>
    <title>ChairsBnB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
   <script src='https://kit.fontawesome.com/cac26a4ea7.js' crossorigin='anonymous'></script>
   
   <script type='text/javascript'>
      window.github = "<%= image_url('github.png') %>";
      window.linkedin = "<%= image_url('linkedin.png') %>";
      window.angellist = "<%= image_url('angellist.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
